<h1>Edit your Flashcard:</h1>

<h3><%=@flashcard.question%></h3>
<form action="/flashcards/<%= @flashcard.id%>" method="post">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<input type="text" name="question" value="<%=@flashcard.question%>">
	<input type="text" name="answer" value="<%=@flashcard.answer%>">
	<p>Stack ID = <%= @flashcard.stack_id %></p>
	<p>Please pick the stack it should belong to.</p>
	<select name="stack_id">
		<% current_user.stacks.each do |stack| %>
			<option value=<%=stack.id%>><%= stack.id %>. <%= stack.title %></option> 
		<% end %>
	</select>
	<input type="submit" id="submit" value="Submit">
</form>

<form action="/flashcards/<%=@flashcard.id%>/delete" method="post">
	<input type="submit" value="Delete Flashcard">
</form>

<br><br><br><br>
<h2>What would you like to do next?</h2>
<h4><a href="/stacks">See my Stacks</a></h4>
<h4><a href="/stacks/new">Create a new Stack</a></h4>
<h4><a href="/flashcards/new">Create a new Flashcard</a></h4>
<h4><a href="/logout">Log Out</a></h4>